{% extends 'base.html' %} {% block content %} {% load static %} {% load filters %}

<div class="row">
    <div class="col-5 row">
        <div class="col-1"></div>
        <div class="col">
            <a onclick="history.back()"
                ><p class="btn border-3 border-primary-subtle text-light">
                    back
                </p></a
            >
        </div>
    </div>
    <div class="col-2">
        <div class="card text-light bg-dark border-3 border-primary-subtle p-4">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="d-block">
                    <label for="Username">Username</label>
                    {{ form.username |addclass:'border-3 border-primary-subtle rounded-3 d-block p-1' }}
                    <label for="Password">Password</label>
                    {{ form.password |addclass:'border-3 border-primary-subtle rounded-3 d-block p-1' }}
                <br />
                {% if error %}
                <p style="color: red">{{error}}</p>
                {% endif %}
                <button class="btn border-3 border-primary-subtle text-light">
                    Log In
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
