{% extends "base.html" %} {% block content %} {% load static %}
<br />

<div class="row">
    <div class="col-3 row">
        <div class="col-1"></div>
        <div class="col">
            <a onclick="history.back()"
                ><p class="btn border-3 border-primary-subtle text-light">
                    back
                </p></a
            >
        </div>
    </div>
    <div class="col-6">
        <div class="card text-light bg-dark border-3 border-primary-subtle row">
            <div class="col-1"></div>
            <div class="col">
                <div style="height: 10px"></div>
                <h6 class="card-title">
                    {{post.author}} _
                    <small>{{post.post_date}}</small>
                </h6>
                <p class="card-body">{{post.body}}</p>
                {% if post.image %}
                <img
                    src="{{post.image.url}}"
                    width="100%"
                    height="100%"
                    class="card-body"
                    onclick="window.open('{{post.image.url}}')"
                />
                {% endif %}
                <br />
                <div class="container justify-content-start">
                    <div class="row justify-content-start">
                        <div class="col-2">
                            <a
                                href="{% url 'comment' post.pk %}"
                                class="text-light border-3 border-primary-subtle btn"
                                >Comment</a
                            >
                        </div>
                        <div class="col-2">
                            <a
                                href="{% url 'edit-post' post.pk %}"
                                class="text-light border-3 border-primary-subtle btn"
                                >Edit</a
                            >
                        </div>
                        <div class="col-2">
                            <a
                                href="{% url 'delete-post' post.pk %}"
                                class="text-light border-3 border-primary-subtle btn"
                                >Delete</a
                            >
                        </div>
                    </div>
                    {% if post.comments.all %}
                    <br>
                    Comments
                    <br><br>
                    <div class="row">
                        {% for comment in post.comments.all reversed %}
                            <div class="col-11">
                                <div class="card bg-dark p-3 border border-3 border-primary-subtle text-light">
                                    {{comment.name }} on {{comment.date_commented}}</br>{{comment.body}}
                                </div>
                            </div>
                            <p style="height:5px;"></p>
                        {% endfor %}
                    </div>
                    {% endif%}
                </div>
                <br /><br />
            </div>
        </div>
    </div>
</div>

{% endblock %}
